<nav class="navbar navbar-dark bg-dark border-bottom d-flex flex-nowrap" id="navbar">
    <div class="navbar-brand">
        <div class="d-block">
            <span class="badge badge-pill" id="online-status">Disconnected</span>
        </div>
    </div>
    <div class="nav-item rounded ml-2 mr-auto" id="username-item" style="display: block"><input type="text" placeholder="username" id="user_name"></div>
    <div class="navbar-brand ml-2 d-none d-lg-block">
        <i class="fab fa-skype fa-spin align-center d-inline-block" style="color: #00aff0;" title="Skype rotiert"></i> Super cheap chat with sock(et)?s <i class="fas fa-socks d-inline-block align-center"></i>
    </div>
    <div class="nav-item mr-4 ml-auto text-nowrap d-none d-sm-block form-check-inline">
        <label class="form-check-label" for="autoscroll">Autoscroll:</label>
        <input type="checkbox" id="autoscroll" class="form-check-input" checked onclick="setautoscroll(this.checked);">
    </div>
    <div class="nav-item mr-4 ml-auto text-nowrap d-none d-sm-block" id="usercount">Usercount: 0</div>
    <div class="nav-link text-white text-nowrap d-none d-md-block" id="powered-by">Powered by <a href="https://python.org" target="_blank" class="text-white">Python</a></div>
</nav>