<mat-toolbar>
    <mat-toolbar-row fxLayout="row">
        <button mat-icon-button aria-label="open-sidebar" (click)="buttonClick.emit()">
            <i class="fas fa-bars"></i>
        </button>
        <span>FI Socket Chat</span>
        <div fxShow="true" fxHide.lt-md="true" fxLayout="row">
            <mat-chip-list>
                <mat-chip  [ngClass]="{ 'connect-chip-connected': connectStatus, 'connect-chip-disconnected' : !connectStatus }">{{ connectText }}</mat-chip>
            </mat-chip-list>
            <span class="fill"></span>
            <mat-checkbox>Autoscroll</mat-checkbox>
            <span>Usercount: none</span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>