<div class="h-100 text-white">
    <app-navbar></app-navbar>
    <mat-sidenav-container hasBackdrop="true" autosize>
        <mat-sidenav #sidenav mode="over">
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content>
            <button type="button" mat-button (click)="sidenav.toggle()"><span class="navbar-toggler-icon"></span></button>
            <app-chat></app-chat>
            <app-input fxLayout="row" fxLayoutAlign="center center"></app-input>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
<router-outlet></router-outlet>