<div class="h-100 text-white bg-discord-dark">
    <mat-sidenav-container hasBackdrop="true" autosize>
        <mat-sidenav #sidenav mode="over">
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content fxFlex fxLayout="column" class="bg-discord-dark">
            <app-navbar (buttonClick)="sidenav.toggle()"></app-navbar>
            <app-chat ></app-chat>
            <app-input fxLayout="row" fxLayoutAlign="center center"></app-input>
        </mat-sidenav-content>
    </mat-sidenav-container>    
</div>
<router-outlet></router-outlet>