<div class="container sitebar d-none d-md-block">
    <div class="sitebar-content" id="notify-mode">
        <div class="media d-inline-flex bg-lighter-01 rounded p-2 w-100">
            <div class="media-body">
                <h5 class="mt-0 mb-1 text-white text-wrap w-100">Notification-Modus</h5>
                <div class="select-wrapper w-100 position-relative">
                    <select class="selectpicker" data-icon-base="fa" name="notificationmode" size="1" id="notification-mode">
                        <option class="bg-grey text-white my-1" data-icon="fa-bell-slash" value="no">Keine Notifications</option>
                        <option class="bg-grey text-white my-1" data-icon="fa-bullhorn" value="mention">Nur bei Mentions</option>
                        <option class="bg-grey text-white my-1" data-icon="fa-bell" value="all">Alle Notifications</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <app-sitebar-content *ngFor="let content of sitebarElements" [content]="content"></app-sitebar-content>
</div>