<div class="message-input w-100 d-inline-flex mb-2 border-top p-2">
    <div class="btn-group pr-2 position-relative d-inline-block overflow-hidden">
        <button class="btn btn-secondary rounded text-white border-0 font-weight-bolder cursor-pointer h-100" id="fileinput-btn">
                <i class="far fa-file"></i>
            </button>
        <input type="file" name="file" id="fileinput" accept="image/*" />
    </div>
    <form class="align-items-top d-flex justify-content-between w-100" id="form">
        <div class="btn-group emote-dropup mr-2 position-relative">
            <button type="button" class="btn btn-secondary rounded text-white border-0 font-weight-bolder" id="emotebtn" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-smile"></i>
            </button>
            <div class="emote-dropmenu bg-dark border border-info" id="emoteMenu">If you see this, the Javascript failed :(</div>
        </div>
        <textarea class="message-box flex-fill border-0 text-white bg-dark" id="messageinput" autofocus="autofocus" autocomplete="off" spellcheck="false" placeholder="Your message..." onkeyup="checkPressedKey($event)" [innerHTML]="messageinput"></textarea>
        <button class="btn rounded ml-2 text-white border-0" id="sendbtn">Send</button>
    </form>
</div>