.message-input {
    bottom: 10px;
    padding: 5px;
    border-color: var(--discord-lightgrey);
}

.message-box {
    resize: none;
}

form textarea {
    padding: 10px;
}

form button,
form .btn {
    background: var(--discord-grey);
    color: var(--discord-grey);
}

form button {
    padding: 10px;
}

input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#emoteMenu {
    display: none;
}

.emote-dropmenu {
    position: absolute;
    min-width: 320px;
    bottom: 75px;
}

.emote-dropmenu a {
    white-space: nowrap;
    display: inline;
    margin: 2px;
}