body {
    overflow: auto !important;
    height: 100%;
}

.navbar {
    position: sticky;
    top: 0;
}

.container, .chat {
    height: inherit;
}

.message-input {
    position: sticky;
    bottom: 0.5em;
}
