* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-width: 350px;
}

.maincontent {
    order: 2;
}

.content-wrapper {
    display: flex;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

.sitebar {
    padding-top: 2%;
    min-width: 12%;
    max-width: 20%;
    border-right: 1px solid;
}

sitebar div {
    min-width: 105px;
}

.sitebar-content {
    margin: 2%;
    padding: 3%;
    width: 96%;
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
}

    .sitebar-content:hover {
        cursor: pointer;
    }

    .sitebar-content #logininfo_picture {
        width:100%;
        max-width:26px;
        height:100%;
        max-height:26px;
    }

    .sitebar-content .toggle-off {
        border: 1px solid #f8f9fa;
    }