* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
    height: 100%;
    min-width: 350px;
    width: 100%;
}

body {
    /*variables*/
    --discord-black: #23272a;
    --discord-dark: #2c2f33;
    --discord-grey: #99aab5;
    --discord-lightgrey: #72767d;
    --discord-white: #ffffff;
    --discord-blue: #7289da;
    --discord-red: rgba(240, 71, 71, 1);
    --discord-pink: #FF1493;
    --discord-orange: #fdad5c;
    font: 13px "Comic Sans MS", Arial;
}

.bg-dark {
    background: var(--discord-dark) !important;
}

/* Hide the link that should open and close the nav on small screens */
#navbar .icon {
    display: none;
}

.chat {
    overflow: hidden;
    height: 100%;
}

#messages {
    word-wrap: break-word;
}

    #messages .message-container {
        border-bottom-color: var(--discord-lightgrey) !important;
    }

    #messages .message-profile-image {
        height: 40px;
    }

    #messages .message-name {
        font: 13px "Comic Sans MS", Arial;
    }

    #messages .message-timestamp {
        color: var(--discord-grey);
        font: 9px "Comic Sans MS", Arial;
    }

    #messages .message-content {
        color: var(--discord-white);
        width: 100%;
    }

        #messages .message-content:link {
            color: var(--discord-blue);
        }

        #messages .message-content em {
            font-style: normal;
        }

        #messages .message-content .mention {
            background: var(--discord-orange);
        }

        #messages .message-content .code {
            background: var(--discord-grey);
            font: 14px "Monoid", Arial;
        }

        #messages .message-content .quote {
            padding-left: 1em;
            border-left: 0.25em solid var(--discord-grey);
        }

.message-input {
    bottom: 10px;
    padding: 5px;
    border-top: 1px solid var(--discord-lightgrey);
}

.message-box {
    background: var(--discord-dark);
    color: var(--discord-white);
    resize: none;
}

form textarea {
    border: 0;
    padding: 10px;
}

form button, form .btn {
    background: var(--discord-grey);
    color: var(--discord-grey);
}

form button {
    border: none;
    padding: 10px;
    color: var(--discord-white);
    font-weight: bolder;
}

.notification-box {
    background-color: var(--discord-dark);
    border-radius: 15px;
    box-shadow: inset 0 0 1em var(--discord-black);
    height: 50px;
    width: 100%;
    position: sticky;
    bottom: 5em;
    padding: 10px 10px 10px 20px;
    color: white;
    z-index: 1000;
    display: none;
}

.bg-discord-red {
    background-color: var(--discord-red);
    box-shadow: none;
}

.maincontent {
    order: 2;
}

.sitebar {
    padding-top: 2%;
    min-width: 12%;
    max-width: 20%;
    border-right: 1px solid var(--discord-lightgrey);
    margin: 0 0 0 0;
}

sitebar div {
    min-width: 105px;
}

.sitebar-content {
    margin: 2%;
    padding: 3%;
    width: 96%;
    background-color: var(--discord-dark);
    border-radius: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
}

    .sitebar-content:hover {
        cursor: pointer;
    }

    .sitebar-content .select-wrapper::before {
        font-family: 'FontAwesome', 'Comic Sans MS';
        content: "\f0ab";
        font-size: 20px;
        position: absolute;
        right: 15px;
        top: 10px;
        pointer-events: none;
    }

    .sitebar-content select {
        font-family: 'FontAwesome', 'Comic Sans MS';
        font-size: 14px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        height: 40px;
        background: var(--discord-dark) repeat;
        color: var(--discord-white);
        padding-left: 10px;
        box-shadow: 2px 2px 5px 1px var(--discord-black);
        border-radius: 3px;
        outline: none;
        cursor: pointer;
    }

    .sitebar-content select::ms-expand {
        display: none;
    }

    .sitebar-content select:focus::-ms-value {
        background-color: transparent;
    }

    .sitebar-content select option {
        background: var(--discord-dark);
        color: var(--discord-white);
    }
.content-wrapper {
    display: flex;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

#emoteMenu {
    display: none;
}

.emote-dropup {
    position: relative;
    display: inline-block;
}

.emote-dropmenu {
    position: absolute;
    min-width: 320px;
    bottom: 75px;
}

    .emote-dropmenu a {
        white-space: nowrap;
        display: inline;
        margin: 2px;
    }

.bg-lighter-01 {
    background-color: rgba(255,255,255,0.05);
}

    .bg-lighter-01:hover {
        background-color: rgba(255,255,255,0.1);
    }

.image-preview {
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 600px;
}

.video-embed {
    /* !# NOTICE: Just Copy pasted from .image-preview for now.*/
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 600px;
}

.audio-embed {
    /* !# NOTICE: The server injects a br before the audio tag at the moment! 
        using default HTML5 Player controls, looks shit in Google Chrome.
    */
}
.message-name{
    cursor: default;
}