* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*variables*/
    --discord-black: #23272a;
    --discord-dark: #2c2f33;
    --discord-grey: #99aab5;
    --discord-lightgrey: #72767d;
    --discord-white: #ffffff;
    --discord-blue: #7289da;

    font: 13px "Comic Sans MS", Arial;
}

.bg-dark {
    background: var(--discord-dark) !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: red;
}

    ::-webkit-scrollbar-thumb:hover {
        background: var(--discord-white);
    }

    ::-webkit-scrollbar-thumb:active {
        background: red;
    }

::-webkit-scrollbar-track {
    background: var(--discord-dark);
}

    ::-webkit-scrollbar-track:hover {
        background: var(--discord-dark);
    }

    ::-webkit-scrollbar-track:active {
        background: var(--discord-dark);
    }

::-webkit-scrollbar-corner {
    background: transparent;
}

.chat {
    overflow-x: hidden;
    overflow-y: auto;
	height: 85%;
}

#messages {
    word-wrap: break-word;
}

    #messages .message-container {
        border-bottom-color: var(--discord-lightgrey);
    }

    #messages .message-name {
        font: 13px "Comic Sans MS", Arial;
    }

    #messages .message-timestamp {
        color: var(--discord-grey);
        font: 9px "Comic Sans MS", Arial;
    }

    #messages .message-content {
        color: var(--discord-white);
    }

        #messages .message-content:link {
            color: var(--discord-blue);
        }

.message-input {
    bottom: 10px;
    padding: 5px;
}

form input {
    border: 0;
    padding: 10px;
}

form button, form .btn {
    background: var(--discord-grey);
}

form button {
    border: none;
    padding: 10px;
    color: var(--discord-white);
    font-weight: bolder;
}
