* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden !important;
}

body {
    font: 13px "Comic Sans MS", Arial;
}

.bg-dark {
    background: #2c2f33 !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: red;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
    }

    ::-webkit-scrollbar-thumb:active {
        background: red;
    }

::-webkit-scrollbar-track {
    background: #2c2f33;
}

    ::-webkit-scrollbar-track:hover {
        background: #2c2f33;
    }

    ::-webkit-scrollbar-track:active {
        background: #2c2f33;
    }

::-webkit-scrollbar-corner {
    background: transparent;
}

.chat {
    overflow-x: hidden;
    overflow-y: auto;
	height: 85%;
}

#messages {
    word-wrap: break-word;
}

    #messages .message-container {
        border-bottom-color: rgb(114, 118, 125);
    }

    #messages .message-name {
        font: 13px "Comic Sans MS", Arial;
    }

    #messages .message-timestamp {
        color: #99aab5;
        font: 9px "Comic Sans MS", Arial;
    }

    #messages .message-content {
        color: #ffffff;
    }

        #messages .message-content:link {
            color: #7289da;
        }

.message-input {
    bottom: 10px;
    padding: 5px;
}

form input {
    border: 0;
    padding: 10px;
}

form button, form .btn {
    background: #99aab5;
}

form button {
    border: none;
    padding: 10px;
    color: #ffffff;
    font-weight: bolder;
}
