<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/public/css/style.css">

    <meta property="og:title" content="FIChat">
    <meta property="og:description" content="Better than Skype">
    <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Skype-for-Business.svg/1200px-Skype-for-Business.svg.png">

  </head>
  <body class="bg-dark text-white">
  <nav class="navbar navbar-dark bg-dark border-bottom">
	  <a class="navbar-brand">
		  <i class="fab fa-skype fa-spin d-inline-block align-top" style="color: #00aff0" title="Skype rotiert"></i>
		  Super cheap chat with sock(et)?s <i class="fas fa-socks"></i>
	  </a>
	  <a class="nav-item mr-auto"><input type="text" required placeholder="username" id="user_name"></a>
	  <a class="nav-item mr-auto" id="usercount">Usercount: 0</a>
	  <a class="nav-item mr-auto">Powered by Python</a>

  </nav>
	<div class="container">
		<div class="chat">
			<ul id="messages"></ul>
		</div>
		<div class="message-input">
		<form action="">
			<div class="btn-group dropup">
			<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="far fa-smile"></i>
			</button>
			<div class="dropdown-menu">
				{% for emote in emotes %}
					{% if emotes[emote]["menuDisplay"]: %}
						<a href="#" onclick="addEmoteCode('{{emote}}');">{{emotes[emote]["menuDisplayCode"]|safe}}</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		  <input id="m" autocomplete="off" maxlength="300"/><button>Send</button>
		</form>
		<input type="hidden" value="{{ ip }}" id="ip">
		</div>
	</div>
<script src="/public/js/socket.io.js"></script>
<script src="/public/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/public/js/script.js"></script>
  </body>
</html>